### loads data and make health database

In [2]:
%load_ext sql
%sql sqlite:///health.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Health Records Management System
This project demonstrates how to create and manage a health related SQL database inside a Jupyter Notebook using SQLite.  
It includes CRUD operations, filtering, grouping, joins, and analytical queries.

Create Tables (Patients, Doctors, Appointments)

In [3]:
%%sql

DROP TABLE IF EXISTS Patients;
DROP TABLE IF EXISTS Doctors;
DROP TABLE IF EXISTS Appointments;

CREATE TABLE Patients (
    patient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    age INTEGER,
    gender TEXT,
    disease TEXT
);

CREATE TABLE Doctors (
    doctor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    speciality TEXT
);

CREATE TABLE Appointments (
    appointment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER,
    doctor_id INTEGER,
    appointment_date TEXT,
    status TEXT,
    FOREIGN KEY(patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY(doctor_id) REFERENCES Doctors(doctor_id)
);

 * sqlite:///health.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

Insert Sample Data (Create)

In [5]:
%%sql

INSERT INTO Patients (first_name, last_name, age, gender, disease) VALUES
('Ram', 'Sharma', 32, 'M', 'Fever'),
('Sita', 'Thapa', 45, 'F', 'Diabetes'),
('Hari', 'Lama', 28, 'M', 'Asthma'),
('Gita', 'KC', 51, 'F', 'Hypertension');

INSERT INTO Doctors (name, speciality) VALUES
('Dr. Ramesh Koirala', 'Cardiology'),
('Dr. Sanu Gurung', 'Endocrinology'),
('Dr. Milan Tamang', 'General Physician');

INSERT INTO Appointments (patient_id, doctor_id, appointment_date, status) VALUES
(1, 3, '2025-01-10', 'Completed'),
(2, 2, '2025-01-11', 'Pending'),
(3, 3, '2025-01-12', 'Completed'),
(4, 1, '2025-01-15', 'Pending');

 * sqlite:///health.db
4 rows affected.
3 rows affected.
4 rows affected.

[]

Read Operation (SELECT)

In [ ]:
%%sql
SELECT * FROM Patients;

 * sqlite:///health.db
Done.

[(1, 'Ram', 'Sharma', 32, 'M', 'Fever'),
 (2, 'Sita', 'Thapa', 45, 'F', 'Diabetes'),
 (3, 'Hari', 'Lama', 28, 'M', 'Asthma'),
 (4, 'Gita', 'KC', 51, 'F', 'Hypertension')]

Show only female patients

In [7]:
%%sql
SELECT first_name, last_name, gender FROM Patients WHERE gender='F';

 * sqlite:///health.db
Done.

[('Sita', 'Thapa', 'F'), ('Gita', 'KC', 'F')]

Get patient appointment details using JOIN

In [8]:
%%sql
SELECT p.first_name, p.last_name, d.name AS doctor, a.appointment_date, a.status
FROM Appointments a
JOIN Patients p ON a.patient_id = p.patient_id
JOIN Doctors d ON a.doctor_id = d.doctor_id;

 * sqlite:///health.db
Done.

[('Ram', 'Sharma', 'Dr. Milan Tamang', '2025-01-10', 'Completed'),
 ('Sita', 'Thapa', 'Dr. Sanu Gurung', '2025-01-11', 'Pending'),
 ('Hari', 'Lama', 'Dr. Milan Tamang', '2025-01-12', 'Completed'),
 ('Gita', 'KC', 'Dr. Ramesh Koirala', '2025-01-15', 'Pending')]

# Update Operation
Update disease for a patient

In [9]:
%%sql
UPDATE Patients
SET disease = 'Migraine'
WHERE patient_id = 1;

 * sqlite:///health.db
1 rows affected.

[]

Check updated table

In [10]:
%%sql
SELECT * FROM Patients;

 * sqlite:///health.db
Done.

[(1, 'Ram', 'Sharma', 32, 'M', 'Migraine'),
 (2, 'Sita', 'Thapa', 45, 'F', 'Diabetes'),
 (3, 'Hari', 'Lama', 28, 'M', 'Asthma'),
 (4, 'Gita', 'KC', 51, 'F', 'Hypertension')]

# Delete Operation
Delete a patient

In [11]:
%%sql
DELETE FROM Patients
WHERE patient_id = 3;

 * sqlite:///health.db
1 rows affected.

[]

Verify delete

In [12]:
%%sql
SELECT * FROM Patients;

 * sqlite:///health.db
Done.

[(1, 'Ram', 'Sharma', 32, 'M', 'Migraine'),
 (2, 'Sita', 'Thapa', 45, 'F', 'Diabetes'),
 (4, 'Gita', 'KC', 51, 'F', 'Hypertension')]

# Advanced SQL Queries
Count patients by disease

In [13]:
%%sql
SELECT disease, COUNT(*) AS total_patients
FROM Patients
GROUP BY disease;

 * sqlite:///health.db
Done.

[('Diabetes', 1), ('Hypertension', 1), ('Migraine', 1)]

Upcoming pending appointments

In [14]:
%%sql
SELECT p.first_name, p.last_name, a.appointment_date
FROM Appointments a
JOIN Patients p ON a.patient_id = p.patient_id
WHERE a.status = 'Pending';

 * sqlite:///health.db
Done.

[('Sita', 'Thapa', '2025-01-11'), ('Gita', 'KC', '2025-01-15')]

male and female patients

In [15]:
%%sql
SELECT gender, COUNT(*) AS total
FROM Patients
GROUP BY gender;

 * sqlite:///health.db
Done.

[('F', 2), ('M', 1)]

# Add New Columns
Add phone number to Patients table

In [16]:
%%sql
ALTER TABLE Patients ADD COLUMN phone TEXT;

 * sqlite:///health.db
Done.

[]

In [17]:
%%sql
UPDATE Patients SET phone='9841000001' WHERE patient_id=1;
UPDATE Patients SET phone='9812000002' WHERE patient_id=2;
UPDATE Patients SET phone='9803000003' WHERE patient_id=4;

 * sqlite:///health.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

Verify Column

In [18]:
%%sql
SELECT * FROM Patients;

 * sqlite:///health.db
Done.

[(1, 'Ram', 'Sharma', 32, 'M', 'Migraine', '9841000001'),
 (2, 'Sita', 'Thapa', 45, 'F', 'Diabetes', '9812000002'),
 (4, 'Gita', 'KC', 51, 'F', 'Hypertension', '9803000003')]